.Boxform {
    position: absolute;
    display: flex;
    top: 20%;
    left: 35%;
    width: 300px;
    height: 220px;
    padding: 40px;
    background-image: url(../../Images/Parallax_Icon_04.png);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
    margin-bottom: 25%;
    color: white;
  }

  .Boxform:hover {
    transform: scale(1.4); 
    margin-top: -50px;
}