
.wrapper {
  display: flex;
  flex-direction: row;
  width: 10240px;
  transform: rotate(90deg) translateY(-100vh);
  transform-origin: top left;
}

.outerwrapper {
  width: 100vh;
  height: 100vw;
  transform: rotate(-90deg) translateX(-100vh);
  transform-origin: top left;
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.one {
  background-image: url(../Images/ls1ver11.jpg);
  width: 2560px;
  height: 100vh;
}
.two {
  background-image: url(../Images/ls2ver17.jpg);
  width: 2560px;
  height: 100vh;
}
.three {
  background-image: url(../Images/ls3ver14.jpg);
  width: 2560px;
  height: 100vh;
}
.four {
  background-image: url(../Images/ls4ver11.jpg);
  width: 2560px;
  height: 100vh;
}

::-webkit-scrollbar {
  display:none;
}

