.Contactbox {
    position: absolute;
    display: inline-block;
    top: 50%;
    left: 88%;
    width: 800px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background-color: rgba(0,0,0,1);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,1);
    border-radius: 10px;
    margin-bottom: 25%;
    color: ivory;
  }

  .Contactbox:hover {
    transform: scale(1.4);
    top:33%; 
    left:83%;
   
}

.textbox:hover{
 text-decoration: underline;
    color: rgb(86, 233, 225);
}